.grid-container {
  width: 65%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.pagination--btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding-left: 13px;
}

.pagination--btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #f1356d;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 80%;
  }
}
@media (max-width: 450px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 70%;
  }
}
